<%- include('./header-1.ejs'); %>
<%- include('./menu-allnotice.ejs'); %>
<%- include('./header-2.ejs'); %>
<!-- Content wrapper -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<div class="content-wrapper" style="margin-top: 20px ;">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h5 class="mb-0" style="color: blue;">All Notices</h5>
            </div>
    <div class="card-datatable text-nowrap">
     <table id="allnotices" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Notice </th>
                <th>Department </th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
          <% if (notices.length>=0) { %>
            <% for(var i=0; i < notices.length ;i++) { %>
              <tr>
                <td><%= new Date(notices[i].date).toLocaleString() %></td>
                <td><%= notices[i].title %></td>
                <td><%= notices[i].department %></td>
                <% var editid = `/notices/edit/${notices[i]._id}` %> 
                <% var deleteid = `/notices/delete/${notices[i]._id}` %> 
                <td><a href=<%= editid %> class="btn btn-success" >EDIT</a></td>
                <td><a href=<%= deleteid %> class="btn btn-primary">DELETE</a></td>
              </tr>
            <% } %>
          <% } %>
        </tbody></table>
      </div>
      </div>
        </div>
        </div>
      </div>  
    </div>
  </div>
  
  <script>
    $(document).ready(function () {
    $('#allnotices').DataTable({
      "ordering": false
    });
});
  </script>

 <!-- Footer -->
 <footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      , made by
      <a href="mailto:badinenisaivardhan@gmail.com" target="_blank" class="footer-link fw-bolder">Badineni Sai Vardhan</a>
    </div>
    <div>
    </div>
  </div>
</footer>
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>

 